* {
	margin: 0;
	padding: 0;
	border:0;
	vertical-align:baseline;
	font-family: Comic Sans MS, cursive;
}

.wrapper{
	background-color: rgba(255,255,255,0.9);
	border-radius: 41.5px;
	border: 1.5px solid black;
	max-width: 450px;	
	margin:0 auto;
	margin-top: 75px;
}

body {
	background-size: 1920px 1080px;
	background-image: url(img/background.jpg);
	background-repeat: no-repeat;
}

.head { 
	box-sizing: border-box;
	position: relative;
	width: 100%;		
	height: 80px;	
	padding: 15px;
	background-color: #FF8000;
	border-top-right-radius: 40px;
	border-top-left-radius: 40px;
}

.head input {	
	font-size: 16px;
	box-sizing: border-box;
	padding: 0 65px 0 20px;
	width: 100%;
	height: 50px;
	float: left;
	background: rgba(255,255,255,0.2);
	color: #fff;						
	border-radius: 25px;
	border: 0px;
	box-shadow: none;
	outline: none;
	appearance: none;
}

.head input::-webkit-input-placeholder {
	color: rgba(255,255,255,0.75);
}

.head button {
	right: 15px;
	background: #fff;
	position: absolute;
	height: 50px;
	width: 50px;
	float: right;
	appearance: none;
	border: 0px;
	border-radius: 25px;	
	outline: none;                            /*Выделение при нажатии*/
	box-shadow: none;
}

.head button img {
	top: 17px;
	left: 17px;
    transition: transform 0.3s ease-in-out;
	width: 16px;
	height: 16px;
	position: absolute;
}

#add:hover #Layer_1{
	transform: rotate(90deg);
	transition: transform 0.3s;
}

.content {
	padding: 15px;
	height: 400px;	
	overflow-y:auto;
}

.content::-webkit-scrollbar {width:0px;}

.selected {
	box-shadow: 0px 0px 11px 5px #000000; 
}

.style-of-todo {
	transition: background 0.3s;
	background: #fff;
	font-size: 20px;
	margin-bottom: 15px;
	position: relative;
	box-sizing: border-box;
	padding: 13px 14px 13px 14px;
	list-style-type: none;
	width: 100%;
	border: 2px solid black;
	border-radius: 30px;
	box-shadow: 0px 1px 2px rgba(44,62,80,0,10);
}

.style-of-todo1 {
	box-shadow: 0px 5px 5px 1px red;
	transition: all 0.3s;
}

.style-of-todo2 {
	box-shadow: 0px 5px 5px 1px red;
	transition: all 0.3s;
}

.content ul li{
	background-color: rgba(255,255,255,0);
	display: flex;
	height: auto;
}

.content ul li span{
	display: block;
	word-break: break-all;
	flex: 1;
}

.check {	
	margin-top: auto;
	margin-bottom: auto;
	display: block;
	width: 26px;
	height: 26px;
	margin-right: 8px;
	background: transparent;                  /*Чтобы сделать прозрачный фон*/
	outline: none;                            /*Выделение при нажатии*/
	box-shadow: none;
}

.uncheck {	
	margin-top: auto;
	margin-bottom: auto;
	display: block;
	background: transparent;                  /*Чтобы сделать прозрачный фон*/
	width: 26px;
	height: 26px;
	margin-right: 8px;
	outline: none;                            /*Выделение при нажатии*/
	box-shadow: none;
}


.clear {
	margin-left: 8px;	
	margin-right: 8px;
	flex: none;
	width: 26px;	
	height: 26px;
	margin-top: auto;
	margin-bottom: auto;
	background: transparent;
	outline: none;                            /*Выделение при нажатии*/
	box-shadow: none;
}

#check {
	fill: rgba(240,82,40,0.5);
}

#uncheck {
	fill: rgba(255,255,255,0.5);
}

.uncheck svg {
	border: 3px solid rgba(240,82,40,0.01);
	border-radius: 25px;
	background-color: rgba(240,82,40,0.45);
	border-radius: 25px;
	width: inherit; 
	height: inherit; 
	box-sizing: border-box;
}

.check svg {
	border: 3px solid rgba(240,82,40,0.45);
	border-radius: 25px;
	width: inherit; 
	height: inherit; 
	box-sizing: border-box;
}

footer {
	height: 70px;
	background-color: #FF8000;
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 40px;
	padding-bottom: 10px;
	text-align: center;
	box-sizing: border-box; /*Свойства width и height включают в себя значения полей и границ, но не отступов (margin). */
}

#all:hover {
	box-shadow: 0px 0px 1px 2px white;
	color: #FFF;
}

#active:hover {
	box-shadow: 0px 0px 1px 2px white;
	color: #FFF;
}

#complete:hover {
	box-shadow: 0px 0px 1px 2px white;
	color: #FFF;
}

#clear-items:hover {
	box-shadow: 0px 0px 1px 2px white;
	color: #FFF;
}

#clear-items {
	width: 130px;
}

.wrapper-footer button {
	outline: none;
	appearance: none;
	border-radius: 10px;
	background: rgba(255,255,255,0.2);
	color: rgba(255,255,255,0.8);
	height: 20px;
	padding: 0 8px 0 8px;
}

.button_selected {
	box-shadow: 0px 0px 1px 2px white;
	color: #FFF;
}

#items_left {
	margin-top: 8px;	
	padding-bottom: 5px;
	padding-left: 55px;
	color: #fff;
	display: inline-block;
	font-size: 16px;
	width: 160px;
	text-align: left;
}

.choose{
	justify-content: center;
	display: flex;
}

#Selected1{
	margin-top: 10px;
	margin-right: 10px;
	border-radius: 50px;
	padding: 5px;
	color: white;
	background-color: green;
}

#Selected2{
	margin-top: 10px;
	border-radius: 50px;
	padding: 5px;
	color: white;
	background-color: green;
}

/*Удаление креста отчистки вводимого значения*/
::-ms-clear {
    display: none;
}	

@media (max-width: 540px) {
	footer{
		justify-content: space-between;
		padding-right: 5px; 
		padding-left: 5px;
	}
}

@media (max-width: 340px) {
	body{
		width: 340px;
	}
}